<ion-view view-title="Backseat Driver">
  <ion-content class="padding">
    <ion-refresher
      pulling-text="Pull to refresh"
      on-refresh="refresh()">
    </ion-refresher>

    <div class="list card card--red" ng-show="cards.takeABreak">
      <div class="item item-divider"><i class="ion ion-alert-circled"></i> Take a 30 min break</div>
      <div class="item item-body">
        It's recommended that you take a break after driving <strong>8 or more hours</strong>.<br />
        <div class="card--buttons row">
          <button class="button button-small button-stable col" ng-click="takeBreak()">
            take a break
          </button>
          <button class="button button-small button-light col" ng-click="snoozeBreak()">
            snooze
          </button>
        </div>
      </div>
    </div>

    <div class="list card card--no-padding">
      <div class="item item-divider">Gas stations nearby</div>
      <div class="item item-body">
        <div>
          <ion-list>
            <ion-item ng-click="openInMap(station)" ng-repeat="station in stations | limitTo: 5">
            {{station.station}}

              <span class="badge badge-dark">
                ${{station.reg_price}}&nbsp;&nbsp; | &nbsp;
                {{station.distance}}
              </span>

            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
