<ion-view view-title="Backseat Driver">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider"></div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Nearby</div>
      <div class="item item-body">
        <div>
          <ion-list>
            <ion-item ng-click="openInMaps(station.lat, station.lng)" ng-repeat="station in stations | limitTo: 5">
            {{station.station}}
              <span class="badge badge-positive">
                {{station.distance}}
              </span>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
